{% extends 'base.html.twig' %}

{% block title %}Dashboard🧑‍💻{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body row">
                    <h2 class="text-center mb-4 col-12">Dashboard🧑‍💻</h2>
                    <hr>
                    <div class="d-grid gap-2 col m-2 p-3 border border-primary rounded shadow-sm">
                        <b>Fill the fields to be changed 👺</b>
                        <form method="POST" action="{{ path('update') }}">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password">
                            </div>
                            <div class="mb-3">
                                <label for="role" class="form-label">Role</label>
                                <select class="form-select" id="role" name="role">
                                    <option value="ROLE_USER">USER</option>
                                    <option value="ROLE_ADMIN">ADMIN</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </form>
                    </div>
                    <div class="d-grid gap-2 col m-2 p-3 border border-danger rounded shadow-sm">
                        <form method="POST" action="{{ path('delete') }}">
                            <div class="mb-3">
                                <label for="passwordDelete" class="form-label"><b>Confirm password</b></label>
                                <input type="password" name="password" class="form-control" id="passwordDelete" placeholder="Enter your password">
                            </div>
                            <button type="submit" class="btn btn-danger w-100">Delete</button>
                        </form>
                    </div>
                    {% for type, messages in app.flashes %}
                        {% if messages|length > 0 %}
                            <div class="alert alert-{{ type }}">
                                {{ messages|first }} {# Affiche uniquement le premier message #}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card shadow-lg border border-primary rounded shadow-sm p-3 col-md-3">
            <h3>Profile 🧌</h3>
            <hr>
            <div class="card-body">
                <p><strong>Username :</strong> {{ user.username }}</p>
                <p><strong>Email :</strong> {{ user.email }}</p>
                <p><strong>Role :</strong> {{ user.roles[0] }}</p>
            </div>
            {% if 'ROLE_ADMIN' in user.roles %}
                <form action="{{ path('csv_upload') }}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="csvFile">Import other users ( CSV file ) :</label>
                        <input type="file" id="csvFile" name="csvFile" accept=".csv" class="form-control mt-2">
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Importer</button>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="text-center mt-3">
        <a href="{{ path('logout') }}" class="btn btn-outline-secondary">Log out 🪨</a>
    </div>
{% endblock %}
